<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>

    <form action="#" th:action="@{/save}" th:object="${project}" th:method="post">
        
        <div>
            <h1>Edit project</h1>
        </div>
 
       <input type="hidden" th:field="*{id}" />
       
        <div>
            <label for="projectName">Name:</label>
            <input type="text" placeholder="project name" th:field="*{projectName}" />
            <div th:if="${#fields.hasErrors('projectName')}" th:errors="*{projectName}">Error</div>
        </div>

        <div>
            <label for="startDate">Start date:</label>
            <input type="date" th:field="*{startDate}" />
            <div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Error</div>
        </div>

        <div>
            <label for="endDate">End date:</label>
            <input type="date" th:field="*{endDate}" />
            <div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">Error</div>
        </div>

        <div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="statuslist">Status</label>
			 <select id="statuslist" th:field="*{status}" class="form-control" style="width: 30%; height: 40px;">
       			<option th:each="status: ${statuses}" th:value="${status.statusId}" th:text="${status.statusName}"></option>
    		</select>

        <div style="clear: both; display: block; height: 10px;"></div>

        
        <!--mieti jääkö buttonit samaan diviin vai omiinsa-->
        <div>
            <button type="submit">Save changes</button>
        </div>

        <div>
            <button onclick="window.location.href='/projectlist';">Return</button>
        </div>

    </form>

</body>

</html>