<!DOCTYPE HTML>
<html 

xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>ProFolio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>

<body>

    <div class="navbar">
      
        <h1>ProFOLIO</h1>

        
        <a sec:authorize="hasAuthority('ADMIN')"  href="/add">ADD NEW PROJECT</a>
        <a href="/logout">LOG OUT</a>

    </div>

    <div class="container">

        <p sec:authorize="isAuthenticated()" class="login-text">
            Welcome,  <span sec:authentication="name"></span>
        </p>

        <table class="table table-striped">

            <thread>
                <tr>
                    <th>Project name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Status</th>
                    <th>Type(s)</th>
                    <th> </th>
                    <th> </th>

                </tr>
            </thread>
            <tbody>

                <tr th:each="project : ${projects}">
                    <td th:text="${project.projectName}"></td>
                    <td th:text="${project.startDate}"></td>
                    <td th:text="${project.endDate}"></td>
                    <td th:text="${project.status.statusName}"></td>

                    <td>
                        <span th:each="type, iterStat : ${project.types}"
                            th:text="${iterStat.index != 0 ? ' | ' : ''} + ${type.typeName}"></span>
                    </td>

                    <td><a th:href="@{/edit/{id}(id=${project.id})}"><button class="btn btn-primary">Edit</button></a>
                    </td>
                    <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${project.id})}"><button class="btn btn-danger">Delete</button></a>
                    </td>


                </tr>
            </tbody>
        </table>
        

    </div>
</body>

</html>